@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #0F0F0F;
  --foreground: #ffffff; */
}

@font-face {
  font-family: "Inter";
  src: url("/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #ededed;
    --foreground: #0F0F0F; */
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
